<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SampleDB" connectionString="Server=.\sqlexpress;Database=Sample;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="FormUI.Properties.Settings.SampleConnectionString"
      connectionString="Data Source=5CD8032QM8\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>